<p>Dear IT Team,</p>
<br>
<p>We are pleased to inform you that <strong>{{name}}</strong> has been hired as a new member of our team. To facilitate their onboarding, a user account will need to be created for them.</p>
<br>
<p>Please use the following details for account setup:</p>
<ul>
  <li><strong>Name:</strong> {{name}}</li>
  <li><strong>Email:</strong> {{email}}</li>
</ul>
<br>
<p>If you require any additional information or assistance, please let us know. Thank you for your support in ensuring a smooth onboarding process for our new team member.</p>
<br>
<p>Sincerely,</p>
<p>The Hiring Team</p>
